[Unit]
Description=PM2 Prometheus Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /usr/lib/node_modules/pm2-prometheus-exporter/bin/pm2-prometheus-exporter.js --port 9200
Restart=always
User=root

[Install]
WantedBy=multi-user.target